mixin logo
    img(
        class="js-logo"
        src="img/logo.png"
        alt="Логотип радио Зенит 89.7FM"
        width="418"
        height="188"
        data-dark="img/logo.png"
        data-light="img/logo--light.png"
    )&attributes(attributes)